@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/*
Filename: projects.css
Author: Albert Youssef
Date: 10/16/2021
*/

@media only screen and (min-device-width : 300px) and (max-device-width : 850px) {
    body {
        background-color: green;
        width: 100%;
        font-family: 'Roboto Mono', monospace;
    }
}
  
  .header {
    background-color: rgb(30,40,48,);
    padding: 10px;
    margin-bottom: 35px;
  }
  
  @keyframes rollDown {
    0% {
        transform: translate(5%);
    }
    100% {
        transform: translate(0%);
    }
}

  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 97%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }


body::-webkit-scrollbar {
    display: none;
}

body {
    font-family: Poppins;
    background-image: linear-gradient(#121527, black);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

header ul li {
    margin: 10px 10px;
    list-style-type: none;
    text-align: center;
    color: white;
    font-size: larger;
}

* {
    box-sizing: border-box;
}
  
.grid-container {
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translate(50%, 10%);
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(42, 43, 72);
  padding: 10px;
  border-radius: 1rem;
}

.grid-item {
  text-decoration:none;
  color: #b2bec3;
  background-color: rgb(54, 54, 70);
  border: 1px solid #b2bec3;
  border-radius: 1rem;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.3rem;
  text-align: center;
}

.grid-item:hover {
  background-color: #b2bec3;
  color: #1c2833;
}

  /* Create two equal columns that floats next to each other 
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration 
  }
  
  /* Clear floats after the columns 
  .row:after {
    content: "";
    display: table;
    clear: both;
    background-image: url("reversah.png");
  } */

.grid {
    margin-left: 200px;
    padding-left: 200px;
    margin-right: 200px;
    padding-right: 200px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 300px 200px;
    margin-top: 150px;
    gap: 20px;
    box-shadow:  0px 0px 50px black;
}

html {
    scroll-behavior: smooth;
}

#reversah {
    color: white;
}

img {
  margin-top: 30px;
  position: relative;
}

footer {
    padding-top: 40px;
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 35px;
}

a {
  text-decoration:none;
  color: none;
}

#first {
  font-size: 2rem;
  padding-left: 25%;
  text-shadow: 4px 4px black;
}

#second {
  font-size: 2rem;
  padding-left: 17%;
  padding-top: 7%;
  text-shadow: 4px 4px black;
}

.container {
  display: grid;
}

h2 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px rgb(139, 139, 139);
}

.mylogo {
  width: 36px;
  float: right;
  margin-right: 2.6%;
}

.mylogo:hover {
  transform: scale(1.1);
  transition: .2s;
}

header a {
    color: white;
    text-transform: uppercase;
}

footer {
  padding-top: 100px;
}

footer a:hover {
    background-color: rgb(26,30,48);
}

footer a {
    background-color: rgba(16,20,28,255);
    color: white;
    padding: 1em 1.5em;
    text-transform: uppercase;
    border-radius: 1rem;
}

.containerGrid {
  position: rel;
  display: grid;
}

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: absolute;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    margin-left: 10px;
    box-shadow: 5px 5px 10px 0px black;
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
img {
    width: 100%;
    filter: contrast(0);
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 1rem;
  color: #242730;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: inline;
}

.container2.change {
  animation: rollDown 0.5s;
}

.container2 {
  margin-top: 1%;
  margin-left: 1%;
  display: inline-block;
  cursor: pointer;
}

.dropbtn {
  display: inline-block;
  cursor: pointer;
}

.bar2 {
  width: 25px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.3s;
  border-radius: 4rem;
}

.bar3 {
  width: 45px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.3s;
  border-radius: 4rem;
}

.bar1 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.3s;
  border-radius: 4rem;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  border-radius: 100%;
}

.change .bar2 {
    opacity: 0;
    width: 1%;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  border-radius: 100%;
  width: 35px;
}