@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Ubuntu:wght@300&display=swap');

/*
Filename: FP_build.html
Author: Albert Youssef
Date: 10/16/2021
*/

* {
    padding: 0;
    margin: 0;
    
}

header {
    width: 100%;
    background-position: center;
    background-size: cover;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: rgba(18,18,18,255);
    background-image: url("nameBackground2.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body::-webkit-scrollbar {
    display: none;
}
  
.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
}
  
.arrows path {
    stroke: white;
    fill: transparent;
    stroke-width: 2px;  
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
}
  
@keyframes arrow{
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}
  
@-webkit-keyframes arrow /*Safari and Chrome*/{
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}
  
.arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}
  
.arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}
  
.arrows path.a3 { 
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
}

ul {
    list-style-type: none;
}

image.center {
    position:absolute;
    z-index:0;
}

.centered {
    position: absolute;
    top: 43%;
    left: 51.41%;
    transform: translate(-50%, -50%);
    font-size: 9em;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    
}
  

.container{
    margin: auto;
    width: 600px;
    position: relative;
    display: flex;
    padding-top: 1000px;
}

.container .card{
    position: relative;
    cursor: pointer;
}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
    background: rgba(10,11,24,255);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
    background: rgb(50,50,90);
    transform: translateY(0);

}

.container .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    max-width: 100px;
    position: relative;
    text-align: center;
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: white;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    box-shadow:  0px 0px 50px black;
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: rgb(50, 50, 50);
    padding: 5px;
    border: 1px solid rgb(50, 50, 50);
}

.container .card .face.face2 .content a:hover{
    background: rgb(50, 50, 50);
    color: white;
}

footer a {
  background-color: rgba(16,20,28,255);
  color: white;
  padding: 1em 1.5em;
  text-transform: uppercase;
}

footer {
    color: white;
    text-align: center;
    font-size: 1.5em;
}