@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Ubuntu:wght@300&display=swap');

/*
Filename: projects.css
Author: Albert Youssef
Date: 10/16/2021
*/

@media only screen and (min-device-width : 300px) and (max-device-width : 850px) {
    body {
        background: green;
        width: 100%;
        font-family: 'Roboto Mono', monospace;
        background-color: rgba(18,18,18,255);
        background-image: url("nameBackground1.png");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
}

body::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: rgba(18,18,18,255);
    background-image: url("nameBackground1.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

header ul li {
    margin: 10px 10px;
    list-style-type: none;
    text-align: center;
    color: white;
    font-size: larger;
}

* {
    box-sizing: border-box;
}
  
  /* Create two equal columns that floats next to each other 
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration 
  }
  
  /* Clear floats after the columns 
  .row:after {
    content: "";
    display: table;
    clear: both;
    background-image: url("reversah.png");
  } */

.grid {
    margin-left: 200px;
    padding-left: 200px;
    margin-right: 200px;
    padding-right: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 300px 200px;
    margin-top: 150px;
    gap: 20px;
    box-shadow:  0px 0px 50px black;
}

html {
    scroll-behavior: smooth;
}

#reversah {
    color: white;
}

footer {
    padding-top: 40px;
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 35px;
}

h2 {
    font-size: 50px;
    text-align: center;
    padding-left: 50px;
}

header a {
    color: white;
    text-transform: uppercase;
}

footer a:hover {
    background-color: rgb(26,30,48);
}

footer a {
    background-color: rgba(16,20,28,255);
    color: white;
    padding: 1em 1.5em;
    text-transform: uppercase;
    
}
