@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Ubuntu:wght@300&display=swap');

/*
Filename: aboutme.css
Author: Albert Youssef
Date: 10/16/2021
*/

@media only screen and (min-device-width : 300px) and (max-device-width : 850px) {
    body {
      background: #999;
      width: 100%;
    }
}
  
body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    font-size: 28px;
  }
  
  .header {
    background-color: rgb(30,40,48,);
    padding: 10px;
    text-align: center;
    margin-bottom: 80px;
  }
  
  #navbar {
    overflow: hidden;
    background-color: rgb(30,40,48);
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 61.4%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

html {
    scroll-behavior: smooth;
}

#resume {
    color: white;
}

/* Style buttons */
.btn {
    background-color: rgb(51, 69, 87);
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}
  
  /* Darker background on mouse-over */
.btn:hover {
    background-color: rgb(66, 129, 103);
}

.container1 {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    white-space: nowrap;
}

header ul {
    list-style-type: none;
    text-align: center;
    color: white;
}

body::-webkit-scrollbar {
    display: none;
    
}

header ul li {
    margin: 10px 10px;
    list-style-type: none;
    text-align: center;
    color: white;
    font-size: larger;
}

header a {
    color: white;
    text-transform: uppercase;
}

body {
    margin-left: 250px;
    margin-right: 250px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    font-size: larger;
    background-color: rgba(18,18,18,255);
    color: white;
    box-shadow:  0px 0px 50px black;
    background-image: url("nameBackground.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer a:hover {
    background-color: rgb(26,30,48);
}

footer a {
    background-color: rgba(16,20,28,255);
    color: white;
    padding: 1em 1.5em;
    text-transform: uppercase;
}
  
footer {
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 35px;
}

a {
    color: white;
    text-transform: uppercase;
}